AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAs1iRoC3gBUyn5lZHTap72QAAAAACAAAAAAAQZgAAAAEAACAAAABZqi91l93tn3xlHBbH9eeBQ8JFkIpZQY0hPnZ3teiU4gAAAAAOgAAAAAIAACAAAAAhPEVHieY4IuQSSxk9dIsC0isdpU3tE38Pa2zioGs6otABAACv0GageyrealzDAwm6LXQ/YDQpH/Whr52a40ZTo6ohAc+a/HUvvqm9vjn7QKNZsm4eWQ3ts+GjpF7RYio2xT4N2s7twZ6q9QQ+SZw74rlfcWAqSCrgzq2A7WmSqKErEzvFta2QEJBljEhzvPxq8jCa9P9ShcpppdzRRtxQHp+sKtXtawy04kS5Ge7UdpTxqXEU3KR17mvAGsR3k3Sd1j56xYIsA8sUJHYoSuOV1kE4cz/Ex5eIhXFJ8yljqDmei4GIYIMablJ92g2Mng+0QjICtR86a/F99u3umzt2/5PgtN9/M0qW7Zi4IMbmKmd7GeARYNRKExBCo3JSTdPjI437Rnfh0zPoKwxul4LGTIBtRwXwam3P0GswaBTKOIInGcJDC0qShuRX4iLNlPD8IIovEcnpUpTje/EayFwpVx5EfmdratD1gDKfM5FJXOfWp9sbO9U4K4SJJvAp8eozhpLwNz6GQVprYVQa52xSbVkCX7XTueT4sghCm8NtJw7MJzQbXS7loshB5/vRmwKFvUrg4d/tZGVf23pVlnTc11olULHAlbWM/PpUb+LH0v2cefv4rcbHswuSnVsH3aSsbNpGB4HFh0AX621to5cipHdDDkAAAAAvKMvX85OZsTsdwST04FWj4bRsDfVFf6fE2YOkyzTjr8UQh+noy6A4UibO5xbh7V0OCmoPg3zFdoU9dV5RFHxa